body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
}



.top-bannerr {
    display: flex;
    margin-bottom: 200px;
    width: 40px;
    height: 20px;
    border: 2px solid #fff;
    background: url(images/donation4.jpg) no-repeat;
    color: white;
    font-size: 50px;
    -moz-box-shadow: 10px 10px 50px #ccc;
    -webkit-box-shadow: 10px 10px 50px #ccc;
    box-shadow: 10px 10px 50px #ccc;

}

.text-align {
    color: white;

    font-size: 50px;
    padding-left: 5%;
    padding-right: 15%;
    padding-bottom: 20%;


    font-weight: 400px;


}

.donate-area {
    color: white;
    font-display: 100px;
    font-size: 20px;
    font-weight: 50px;
    font-display: initial;
    border: 5%;

}

.help-donate {
    position: absolute;
    top: 40%;
    right: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40%;
    margin-right: 5%;
    margin-left: 5% border-radius: 10px;
    padding-left: 20px;
    shadow: 10px 10px 40px gray;
}


.field-group {
    width: 600px;
    position: relative;
    padding-top: 15px;
    text-align: center;
    left: 30%;

}

.input-field {

    left: 25%;
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
    font-size: 2em;
    color: #ffffff;
    transition: 0.3s ease;
}

.input-label {

    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #999999;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.input-field::placeholder {
    color: transparent;
}

.input-field:placeholder-shown~.input-label {
    font-size: 2em;
    top: 20px;
}

.input-field:focus {
    border-image: linear-gradient(to right, #ef5a03, #d1d357);
    border-image-slice: 1;
}

.input-field:focus~.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #ef5a03;
}



.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    padding: 10px 40px;

    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 5%;


}

.half-width {
    font-display: initial;
    text-align: center;
    left: 50%;
}

.donation-button {
    box-sizing: 50px;
    padding-left: 200px;
    font-weight: 500;
    box-shadow: 10px;
    margin-left: 0%;



}

.need-amount {
    font-size: 20px;
    text-align: center;
    text-shadow: 500px;
    text-decoration-line: underline;
    text-shadow: 2px 2px white;

}

.link-money {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    padding: 10px 40px;

    color: white;
    font-weight: 700;
    border-radius: 5px;
    size: 20px;
    padding: 10px 40px;
    margin-left: 45%;


}

.donate-for-pra {
    text-align: center;
    font-size: medium;
    font-weight: 400;
    border-left: 20%;
    left: 50%;
}

.flexible-container {
    display: flex;
    margin-bottom: 10px;
}

.need-donate {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding-left: 60px;
    box-shadow: 20px 20px 460px gray;

}

.image-size {

    height: 50px;
    padding: 5px;
    width: 50px;
    background-position: left;

}



#food-for-family {
    background-color: rgb(214, 227, 233);

}


#shelter-for-family {
    background-color: rgb(238, 226, 212);
}

#education-for-child {
    background-color: rgb(233, 227, 228);
}

.half-width {
    width: 50%;
    padding-left: 2%;
    border: 10%;


}

.half-width image {
    width: 50%;
}

form {
    background-color: rgb(240, 209, 214);
    padding: 5px;
    border: 10%;
    margin-top: 10%;

}


.button-color {
    text-decoration: none;
    background-image: linear-gradient(red, orange);

    padding: 10px 40px;

    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 5%;

}

footer h1 {
    text-align: center;
    color: crimson;
    font-style: oblique;
    font-size: medium;
}

footer h4 {
    text-align: center;
    color: white;
    font-weight: 100;
}

footer {
    background-color: black;
    margin-top: 50px;
    padding: 10px, 15px, 20px, 25px;


}